<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body class="container">

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Song</th><th>Singer</th><th>Added By</th><th>Likes</th><th>Actions</th>
        </tr>

        <% items.forEach(function(item){  %>
        <tr>
            <td><a href="<%= item.url%>" target="opensim"><%= item.song %></a></td>
            <td><%= item.singer %></td>
            <td><%= item.addedBy %></td>
            <td><%= item.likes %></td>
            <td>
                <a href="/like?song=<%= item.song %>"><i class="material-icons">favorite</i></a>
                <a href="/delete?song=<%= item.song %>"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        <% }) %>
    </table>

    </div>

</body>
</html>
